body{
    background-color: aquamarine;
}
.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    font-size: 25px;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #c7e4be;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;

    height: auto;

}

.carousel-caption {
    left: 0;
    position: absolute;
    top: 5px;
    right: auto;
    text-align: left;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
}

.img-fluid {
    border-radius: 2px 24px 0px 20px;
}

#menuu {
    height: 80px;
    background-color: rgb(255, 203, 151);
}

.nav-link {
    font-size: 25px;
    font-family: sans-serif;
    margin: 10px;
    color: black;
}

.center {
    margin: 200px;
}

#mi_carousel {
  margin-top: 20px;

}

.lugar {
    max-width: 800px;
    margin: 0 auto;
    bottom: -100px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background-color: #ffe1e1;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 5px 0 10px;

}

.lugar img {
    width: 520px;
    height: 500px;
    border-radius: 0 20px 0 20px;

}

.lugares_detalles {
    padding: 25px;
    margin: 20px;

}

#form {
    position: relative;
    left: 600px;
    width: 400px;
    background-color: bisque;
    border-radius: 10px;
    margin: 100px;
    padding: 50px;
}

#form h2 {
    text-align: center;
    padding: 0 0 20px 0;
}


.txt_field {
    text-align: left;
    margin: 6px;


}

.lugares_detalles h2 {
    margin-top: 0;
    font-size: 26px;
    color: #333;
}

.lugares_detalles p {
    margin: 8px 0;
    font-size: 18px;
    color: #666;
}

#descrip {
    background-color: rgb(255, 184, 77);
    height: 80px;

}

#info_turismo_aventura {
    font-family: sans-serif;
    font-size: 20px;
    padding: 50px;
    background-color: aquamarine;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 5px 0 10px;
}

#info_turismo_aventura h1 {
    font-size: 40px;
}

#info_turismo_aventura p {
    margin: 30px;
    padding: 20px;
}
  